<h8k-navbar header="User Lists"></h8k-navbar>
<div class="layout-row align-items-center justify-content-center mb-50">
  <app-data-form (onItemAdded)="onItemAdded($event)"> </app-data-form>
</div>
<div class="layout-row justify-content-center">
  <div class="layout-column item-list justify-content-center">
    <h3>Book List</h3>
    <app-data-list
      [dataList]="dataBook"
      [dataType]="Book"
      (onItemDelete)="onItemDelete($event)"
    ></app-data-list>
  </div>
  <div class="layout-column item-list justify-content-center">
    <h3>Song List</h3>
    <app-data-list
      [dataList]="dataSong"
      [dataType]="Song"
      (onItemDelete)="onItemDelete($event)"
    ></app-data-list>
  </div>
</div>
